* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #525252;
  background: #f0fbff;
}

.App {
  width: 500px;
  max-width: 90vw;
  margin: 20px auto 0;
  height: 1500px;
}

h1,
h2,
h3 {
  background-image: linear-gradient(
    90deg,
    #f79533 0%,
    #f37055 15%,
    #ef4e7b 30%,
    #a166ab 44%,
    #5073b8 58%,
    #1098ad 72%,
    #07b39b 86%,
    #6dba82 100%
  );
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 100;
}

.sample-container,
.sample-container-2 {
  margin: 30px 0;
  background: #fff;
}

button {
  border: 0;
  outline: 0;
  padding: 7px 10px;
  background: #dedede;
  cursor: pointer;
}

h4 {
  margin: 10px 0 20px;
}

.scroll-content:hover ~ .scrollbar-track {
  opacity: 1;
}
